
*.zip
Relatório_Final_Gabriel_Bonassi_Lucas_Paiva.pdf
aula_13/tb_global/address_counter.vhd
aula_13/tb_global/clock_generator.vhd
aula_13/tb_global/map_monitor.vhd
aula_13/tb_global/run_sim.txt
aula_13/tb_global/stimuli_wisdom.vhd
aula_13/tb_global/tb_wisdom.vhd
aula_13/wisdom_circuit_sem_disciple/alu.vhd
aula_13/wisdom_circuit_sem_disciple/base_circuit.vhd
aula_13/wisdom_circuit_sem_disciple/base_circuit_extended.vhd
aula_13/wisdom_circuit_sem_disciple/base_control.vhd
aula_13/wisdom_circuit_sem_disciple/base_datapath.vhd
aula_13/wisdom_circuit_sem_disciple/button_handler.vhd
aula_13/wisdom_circuit_sem_disciple/code_gen.vhd
aula_13/wisdom_circuit_sem_disciple/coll_ovf.vhd
aula_13/wisdom_circuit_sem_disciple/comparator.vhd
aula_13/wisdom_circuit_sem_disciple/counter_trigger.vhd
aula_13/wisdom_circuit_sem_disciple/fsm_guru.vhd
aula_13/wisdom_circuit_sem_disciple/fsm_init.vhd
aula_13/wisdom_circuit_sem_disciple/fsm_main.vhd
aula_13/wisdom_circuit_sem_disciple/full_adder.vhd
aula_13/wisdom_circuit_sem_disciple/galois_2bits.vhd
aula_13/wisdom_circuit_sem_disciple/holder.vhd
aula_13/wisdom_circuit_sem_disciple/mem_2port.vhd
aula_13/wisdom_circuit_sem_disciple/num_gen.vhd
aula_13/wisdom_circuit_sem_disciple/or2.vhd
aula_13/wisdom_circuit_sem_disciple/rand_num.vhd
aula_13/wisdom_circuit_sem_disciple/rc_adder.vhd
aula_13/wisdom_circuit_sem_disciple/referee.vhd
aula_13/wisdom_circuit_sem_disciple/reg.vhd
aula_13/wisdom_circuit_sem_disciple/reg_bank.vhd
aula_13/wisdom_circuit_sem_disciple/step_counter.vhd
aula_13/wisdom_circuit_sem_disciple/wisdom_circuit.vhd
aula_13/wisdom_circuit_sem_disciple/wisdom_package.vhd
aula_13/wisdom_circuit_sem_disciple/xor2.vhd
Modelo relatório FINAL_23.docx
aula_13.zip
aula_13.zip
projeto_final/db/wisdom_circuit.db_info
projeto_final/db/wisdom_circuit.quiproj.20784.rdr.flock
projeto_final/wisdom_circuit.qpf
projeto_final/wisdom_circuit.qsf
